<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="NabcoDbConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename='C:\Users\arnold.mercado\Documents\Visual Studio 2013\Projects\NabcoPortal\NabcoPortal\App_Data\NabcoDb.mdf';Initial Catalog=NabcoDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>