@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nabco Portal</h1>
    <p class="lead">Hello @User.Identity.GetUserName() Welcome to Nabco Furniture Portal</p>
</div>

